<section>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Packages</button>
                <button type="button" class="btn btn-secondary">Users</button>
                <button type="button" class="btn btn-secondary">Shipments</button>
                <button type="button" class="btn btn-secondary">Companies</button>
            </div>
        </div>
    </div>
</section>